<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthcare.system.mapper.HmOrderFdpMapper">
    
    <resultMap type="HmOrderFdp" id="HmOrderFdpResult">
        <result property="id"    column="id"    />
        <result property="recordStatus"    column="record_status"    />
        <result property="proCode"    column="pro_code"    />
        <result property="proStatus"    column="pro_status"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="userId"    column="user_id"    />
        <result property="userInfo"    column="user_info"    />
        <result property="salesId"    column="sales_id"    />
        <result property="salesName"    column="sales_name"    />
        <result property="signDate"    column="sign_date"    />
        <result property="payDate"    column="pay_date"    />
        <result property="priceOut"    column="price_out"    />
        <result property="motherId"    column="mother_id"    />
        <result property="syncFlag"    column="sync_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        
        <result property="dueDate"    column="due_date"    />
        <result property="hospitalName"    column="hospital_name"    />
        <result property="idCode"    column="id_code"    />
        <result property="idType"    column="id_type"    />
        <result property="phonenumber"    column="phonenumber"    />
        <result property="email"    column="email"    />
        <result property="motherName"    column="mother_name"    />
        <result property="address"    column="address"    />
        <result property="remark"        column="remark"        />
        <result property="signReturnDate"        column="return_date"        />
        
        
    </resultMap>

    <sql id="selectHmOrderFdpVo">
        select id, record_status, pro_code, sync_flag, pro_status, order_status, user_id, user_info, sales_id, sign_date, pay_date, price_out, mother_id, create_by, create_time from hm_order_fdp
    </sql>
    
     <sql id="selectHmOrderFdpVo2">
        SELECT  fdp.id,record_status,fdp.pro_code,fdp.sync_flag,pro_status,order_status,fdp.user_id,user_info,sales_id,fdp.sign_date,p.pay_date,price_out,mother_id,address,mother_name,m.email,m.phonenumber,m.id_type,m.id_code,hospital_name,due_date,r.sign_date AS return_date,u.nick_name AS sales_name,fdp.create_time,fdp.remark
		FROM  hm_order_fdp fdp
		  LEFT JOIN hm_mother m ON fdp.mother_id = m.id
		  LEFT JOIN hm_payment p ON fdp.id = p.order_id
		  LEFT JOIN hm_order_fdp_return r ON fdp.id = r.order_id
		  LEFT JOIN sys_user u ON fdp.sales_id = u.user_id
    </sql>

    <select id="selectHmOrderFdpList" parameterType="HmOrderFdp" resultMap="HmOrderFdpResult">
        <include refid="selectHmOrderFdpVo"/>
        <where>  
            <if test="recordStatus != null "> and record_status = #{recordStatus}</if>
            <if test="proCode != null  and proCode != ''"> and pro_code = #{proCode}</if>
            <if test="proStatus != null "> and pro_status = #{proStatus}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="salesId != null  and salesId != ''"> and sales_id = #{salesId}</if>
            <if test="signDate != null "> and sign_date = #{signDate}</if>
            <if test="payDate != null "> and pay_date = #{payDate}</if>
            <if test="priceOut != null "> and price_out = #{priceOut}</if>
            <if test="motherId != null "> and mother_id = #{motherId}</if>
            <if test="syncFlag != null "> and sync_flag = #{syncFlag}</if>
        </where>
    </select>
    
    <select id="selectHmOrderFdpMotherList" parameterType="HmOrderFdp" resultMap="HmOrderFdpResult">
        <include refid="selectHmOrderFdpVo2"/> 
        <where>  
            <if test="recordStatus != null "> and record_status = #{recordStatus}</if>
            <if test="proCode != null  and proCode != ''"> and pro_code = #{proCode}</if>
            <if test="proStatus != null "> and pro_status = #{proStatus}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
            <if test="userId != null  and userId != ''"> and fdp.user_id = #{userId}</if>
            <if test="salesId != null  and salesId != ''"> and sales_id = #{salesId}</if>
            <if test="signDate != null "> and (fdp.sign_date &gt;=#{signDate} and fdp.sign_date &lt; #{signDate} + INTERVAL 1 DAY)</if>
            <if test="payDate != null "> and pay_date = #{payDate}</if>
            <if test="priceOut != null "> and price_out = #{priceOut}</if>
            <if test="motherId != null "> and fdp.mother_id = #{motherId}</if>
            <if test="syncFlag != null "> and fdp.sync_flag = #{syncFlag}</if>
            <if test="id != null "> and fdp.id = #{id}</if>
            <if test="dueDateBegin != null"> and m.due_date >= #{dueDateBegin}</if>
            <if test="dueDateEnd != null"> and m.due_date &lt;= #{dueDateEnd}</if>
            
            <if test="userName != null "> and fdp.user_info like concat('%', #{userName}, '%')</if>
            <if test="salesName != null "> and u.nick_name = #{salesName}</if>
            <if test="motherName != null "> and m.mother_name = #{motherName}</if>
        </where>
    </select>
    
    <select id="selectHmOrderFdpById" parameterType="Long" resultMap="HmOrderFdpResult">
        <include refid="selectHmOrderFdpVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHmOrderFdp" parameterType="HmOrderFdp" useGeneratedKeys="true" keyProperty="id">
        insert into hm_order_fdp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordStatus != null">record_status,</if>
            <if test="proCode != null">pro_code,</if>
            <if test="proStatus != null">pro_status,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="userId != null">user_id,</if>
            <if test="salesId != null">sales_id,</if>
            <if test="signDate != null">sign_date,</if>
            <if test="payDate != null">pay_date,</if>
            <if test="priceOut != null">price_out,</if>
            <if test="motherId != null">mother_id,</if>
            <if test="syncFlag != null">sync_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordStatus != null">#{recordStatus},</if>
            <if test="proCode != null">#{proCode},</if>
            <if test="proStatus != null">#{proStatus},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="userId != null">#{userId},</if>
            <if test="salesId != null">#{salesId},</if>
            <if test="signDate != null">#{signDate},</if>
            <if test="payDate != null">#{payDate},</if>
            <if test="priceOut != null">#{priceOut},</if>
            <if test="motherId != null">#{motherId},</if>
            <if test="syncFlag != null">#{syncFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="userInfo != null">#{userInfo},</if>
         </trim>
    </insert>

    <update id="updateHmOrderFdp" parameterType="HmOrderFdp">
        update hm_order_fdp
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordStatus != null">record_status = #{recordStatus},</if>
            <if test="proCode != null">pro_code = #{proCode},</if>
            <if test="proStatus != null">pro_status = #{proStatus},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="salesId != null">sales_id = #{salesId},</if>
            <if test="signDate != null">sign_date = #{signDate},</if>
            <if test="payDate != null">pay_date = #{payDate},</if>
            <if test="priceOut != null">price_out = #{priceOut},</if>
            <if test="motherId != null">mother_id = #{motherId},</if>
            <if test="syncFlag != null">sync_flag = #{syncFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userInfo != null">user_info = #{userInfo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHmOrderFdpById" parameterType="Long">
        delete from hm_order_fdp where id = #{id}
    </delete>

    <delete id="deleteHmOrderFdpByIds" parameterType="String">
        delete from hm_order_fdp where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>