# 项目相关配置
ruoyi:
  # 名称
  name: RuoYi
  # 版本
  version: 3.8.7-TEST
  # 版权年份
  copyrightYear: 2024
  # 文件路径 示例（ Windows配置D:/ruoyi/uploadPath，Linux配置 /home/ruoyi/uploadPath）
  profile: /data/docker-nginx/html/dhm-test.rmylcare.com/uploadPath
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数字计算 char 字符验证
  captchaType: math

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 8080
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 消息队列
rabbitMQ:
  host: localhost #rabbitServer的地址
  port: 5672 # 端口
  username: guest # 用户名称
  password: guest # 连接密码
  virtual-host: /
  
# 电子签配置
esign:
  appId: 7439098939 
  appSecret: 33e38adaa1c2f9cd842c034e80ed58e9
  host: https://smlopenapi.esign.cn
  returnUrl1: https://dhmapi-test.rmylcare.com/system/esign/returnURL1
  returnUrl2: https://dhmapi-test.rmylcare.com/system/esign/returnURL2
  contractFile1: /contract1.pdf
  contractFile2: /contract2.pdf

wxpay:
  appid: wxe83a3700d3b60132 # 微信小程序appid
  secret: 597ce52c64d3293fac4d6360f5772619 # 微信小程序密钥
  merchantId: 1732682102 # 商户号
  #privateKeyPath: C:/ruoyi/uploadPath/upload/apiclient_key.pem # 商户API私钥路径（测试环境）绝对路径
  #merchantSerialNumber: 3**************** # 商户API证书序列号
  apiV2Key: K9mNp3QxL7vWzA1bC5dEf8GhIj2Kl4Mn # 商户APIV2密钥
  #apiV3Key: *************** # 商户APIV3密钥
  payNotifyUrl: https://dhmapi-test.rmylcare.com/system/esign/paySuccess # 支付通知地址（测试环境）
  refundNotifyUrl: https://dhmapi-test.rmylcare.com/system/esign/refundSuccess # 退款通知地址（测试环境）
  #publicKeyId: 'PUB_KEY_ID_*********' # 商户API公钥ID 平台证书序列号
  #publicKeyPath: C:/ruoyi/uploadPath/upload/pub_key.pem # 商户API公钥路径
  downloadUrl: https://dhm-test.rmylcare.com

ordersystem:
  url: https://wwwtest.rmylcare.com/
  id: api2026appinfo
  secret: 7b36f5c9a30f0cd802642223d6ea5a486c712a91e48443e8c4c506ef042c66ca

# 日志配置
logging:
  level:
    com.healthcare: debug
    org.springframework: warn

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟）
    lockTime: 10

# Spring配置
spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: druid
  # 文件上传
  servlet:
    multipart:
      # 单个文件大小
      max-file-size: 10MB
      # 设置总上传的文件大小
      max-request-size: 20MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  # redis 配置
  redis:
    # 地址
    host: dhm-bj-j-test-redis-001.redis.rds.aliyuncs.com
    # 端口，默认为6379
    port: 6379
    # 数据库索引
    database: 0
    # 帐号
    username: dhm_develop_rw
    # 密码
    password: dhm_rw@2026
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30分钟）
  expireTime: 30

# MyBatis配置
mybatis:
  # 搜索指定包别名
  typeAliasesPackage: com.healthcare.**.domain
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configLocation: classpath:mybatis/mybatis-config.xml

# PageHelper分页插件
pagehelper:
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping: /dev-api

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*
